http:
  routers:
    {{ item['customer_code'] }}_oemes_service_route:
      rule: "HostRegexp(`{{ item['customer_code'] }}.anylinker.com`)"
      entrypoints:
      - web
      - websecure
      tls: {}
      middlewares:
      - frameOptionsHeader
      - hstsHeader
      service: {{ item['customer_code'] }}_oemes_service_backend
  middlewares:
    CORSHeader:
      headers:
        accessControlAllowMethods:
          - GET
          - OPTIONS
          - PUT
        accessControlAllowHeaders: "*"
        accessControlAllowOriginList: "*"
        accessControlMaxAge: 100
        addVaryHeader: true
    hstsHeader:
      headers:
        STSSeconds: 31536000
        browserxssfilter: true
    frameOptionsHeader:
      headers:
        customFrameOptionsValue: SAMEORIGIN #同域名下面的iframe可以正常嵌入
  services:
    {{ item['customer_code'] }}_oemes_service_backend:
      loadBalancer:
        sticky:
          cookie: session_id
        servers:
        {% if item['is_remote_mode'] -%}
        - url: "http://{{ item['remote_host_name'] }}:{{ item['service_port'] or 8069 }}/"  # 远程主机模式
        {% else %}
        - url: "http://{{ item['customer_code'] }}_oemes_service:8069/" # 本地docker模式
        {% endif %}